<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">
<nav th:replace="layout :: frgSideBar"></nav>
<br>
<br>
<div class="container shadow-lg my-5" >
	<div class="heading_main text_align_center">
						   <h2><span class="theme_color">Nueva</span> Cuenta</h2>	
                        </div>
</div>			
	<div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8  ">
                    
                        <form class="user" th:action="@{/cuenta/save}" th:object="${cuenta}" method="post">
									<hr>
												<div class="row justify-content-center">
												<h4>Cliente</h4>
												</div>
												
												<div class="row justify-content-center">
												
													<div class="col-1">											
														<i class="fa fa-address-card fa-2x"></i>													
													</div>
													<div class="col-5">
														<select class="form-control" th:field="*{cliente.idpersona}" >
								                		<option value=0>-- Seleccione Cliente --</option>
								                		<option th:each="cl : ${clientes}" th:value="${cl.idpersona}" th:text="${cl.toString()}">
								                			
								                		</option>
								                	</select>  
													</div>
													
												</div>
												<hr>
												<div class="row d-flex align-items-center">
												<div class="col-1">											
														<i class="fa fa-hashtag fa-2x"></i>													
													</div>
													<div class="col-5">
														<input type="text" class="form-control form-control-user"
															th:field="*{numCuenta}" placeholder="N&uacute;mero de cuenta">
													</div>
													<div class="col-1">											
														<i class="fa fa-list fa-2x"></i>													
													</div>
													<div class="col-5">
														<select class="form-control" th:field="*{tipocuenta.idtipocuenta}" >
								                		<option value=0>-- Seleccione Tipo Cuenta--</option>
								                		<option th:each="tc : ${tipocuentas}" th:value="${tc.idtipocuenta}" th:text="${tc.toString()}">
								                			
								                		</option>
								                	</select>  
													</div>
												</div>
												
												<hr>
												<div class="row d-flex align-items-center">
													<div class="col-6">Fecha de Apertura</div>
													<div class="col-6">Saldo</div>
												</div>
												<div class="row d-flex align-items-center">
												<div class="col-1">											
														<i class="fas fa-calendar fa-2x"></i>													
													</div>
													<div class="col-5">
														<input type="date" class="form-control form-control-user"
															th:field="*{fechaApertura}" >
												
													</div>
													<div class="col-1">											
														<i class="fas fa-dollar-sign fa-2x"></i>													
													</div>
													<div class="col-5">
														<input type="text" class="form-control form-control-user"
															th:field="*{saldo}" placeholder="Saldo">
													</div>
												</div>
												<hr>
												
												

												<hr>
												<div class="row d-flex align-items-center">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="submit"
															class="btn btn-success btn-user btn-block"
															value="Guardar" />
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<a th:href="@{/cuenta/list}"
															class="btn btn-danger btn-user btn-block">Cancelar</a>
													</div>
												</div>
												
												<input type="hidden" th:field="*{idcuenta}" />

											</form>
											<hr>
											</div>
											<br>
											 
                    
                </div>
            </div>
              
                </div>

<footer th:replace="layout :: frgFooter"></footer>
</body>
</html>