<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

<header th:replace="layout :: frgHead"></header>
<nav th:replace="layout :: frgSideBar"></nav>
<div class="section white_fonts" style="background: #2a2a2a;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" >
                    <div class="full text_align_left_img">
                    <br>
                    <br>
                    <br>
                        <img th:src="@{/images/registrar2.jpg}"  width="500" height="400"/>
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                    <br>
                  
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color">Registro de usuario</span></h2>    
                        </div>
                    </div>
                    <div class="full paddding__15">
                    <br>
					<form th:action="@{/usuario/save}" th:object="${usuario}" method="post">
												<div class="row d-flex align-items-center">
													<div class="col-1">
														<i class="fa fa-user fa-2x"></i>													
													</div>
													<div class="col-11">
														<input type="text" class="form-control"
														th:errorclass="'form-control is-invalid'"
														th:field="*{nombre}" placeholder="Nombre de usuario" /> <small
														class="invalid-feedback"
														th:if="${#fields.hasErrors('nombre')}"
														th:errors="*{nombre}"></small>													
													</div>
												</div>
												<br>
												<div class="row d-flex align-items-center">
													<div class="col-1">
														<i class="fas fa-key fa-2x"></i>																											
													</div>
													<div class="col-11">
														<input type="password" class="form-control"
														th:errorclass="'form-control is-invalid'"
														th:field="*{password}" placeholder="Password" /><small
														class="invalid-feedback"
														th:if="${#fields.hasErrors('password')}"
														th:errors="*{password}"></small>													
													</div>
												</div>
												<!--  <div class="row d-flex align-items-center">
													<div class="col-1">
														<i class="far fa-address-card fa-2x"></i>																											
													</div>
													<div class="col-11">
													<input type="text" class="form-control"
														th:field="*{cedula}"
														th:errorclass="'form-control is-invalid'"
														placeholder="C&eacute;dula"> <small
														class="invalid-feedback"
														th:if="${#fields.hasErrors('cedula')}"
														th:errors="*{cedula}"></small>										
													</div>
												</div>
												<div class="row d-flex align-items-center">
													<div class="col-1">
														<i class="fas fa-user-tie fa-2x"></i>																											
													</div>
													<div class="col-11">
														<input type="text" class="form-control"
														th:errorclass="'form-control is-invalid'"
														th:field="*{nombres}" placeholder="Nombres" /> <small
														class="invalid-feedback"
														th:if="${#fields.hasErrors('nombres')}"
														th:errors="*{nombres}"></small>													
													</div>
												</div>
												<div class="row d-flex align-items-center">
													<div class="col-1">
														<i class="fas fa-user-tie fa-2x"></i>																											
													</div>
													<div class="col-11">
														<input type="text" class="form-control"
														th:errorclass="'form-control is-invalid'"
														th:field="*{apellidos}" placeholder="Apellidos" /> <small
														class="invalid-feedback"
														th:if="${#fields.hasErrors('apellidos')}"
														th:errors="*{apellidos}"></small>													
													</div>
												</div>	-->
												<br>
												<div class="d-flex justify-content-center">																																
													<button class="btn btn-sm academy-btn btn-3 btn-success" type="submit"><i class="fas fa-save"></i> &nbsp;Guardar</button>
													<a th:href="@{/}" class="btn btn-sm academy-btn btn-2 ml-2 btn-danger"><i class="fas fa-times"></i> &nbsp;Cancelar</a>
												</div>											
												
											</form>					                 

                    </div>
                    
                </div>
            </div>
        </div>
    </div>


	
	<footer th:replace="layout :: frgFooter"></footer>

	


</body>
</html>