<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		
		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgSideBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 th:text="${title}" class="h3 mb-0 text-gray-800"></h1>
					</div>					
					<table class="table table-hover">
						<thead>
							<tr>
								<th><i class="far fa-id-card"></i> Num. Pr&eacute;stamo</th>
								<th><i class="fa fa-address-card"></i> N&uacute;mero de cuenta</th>
								<th><i class="fab fa-typo3"></i>  Tipo de prestamo</th>
								<th><i class="far fa-money-bill-alt"></i> Monto</th>
								<th><i class="fas fa-hourglass-half"></i> Tiempo</th>
								<th><i class="fas fa-users"></i> Garantes</th>
								<th><a class="btn btn-sm btn-success"
									th:href="@{/prestamo/create}">&nbsp;Nuevo</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${prestamos}">
								<td th:text="${p.numPrestamo}"></td>
								<td th:text="${p.cuenta.toString()}"></td>
								<td th:text="${p.tipoprestamo.toString()}"></td>
								<td th:text="${p.monto}"></td>
								<td th:text="${p.tiempo}"></td>
								
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/prestamo/update/} + ${p.idprestamo}"><i class="fas fa-edit"></i></a>
									<a class="btn btn-sm btn-info"
									th:href="@{/prestamo/retrieve/} + ${p.idprestamo}"><i class="fas fa-eye"></i></a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<!-- /.container-fluid -->

			</div>
			
			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>
	

</body>
</html>