<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	
	<form id="frmGarantia" 
	class="contact-form-area ml-3 mr-3" 
	th:object="${garantia}" th:action="@{/prestamo/add}" method="post">		
		<div class="row d-flex align-items-center">
			<div class="col-9">
				<select th:field="*{cosaid}" class="form-control invisible">
				</select>
			</div>
		</div>
		
		<div class="row d-flex align-items-center">
			<div class="col-1">
				<i class="fab fa-typo3"></i>
			</div>
			<div class="col-2">
				<small>Nombre del bien:</small>
			</div>
			<div class="col-9">
				<input type="text" th:field="*{nombre}" class="form-control"  />
			</div>
		</div>		
		<div class="row d-flex align-items-center">
			<div class="col-1">
				<i class="fab fa-typo3"></i>
			</div>
			<div class="col-2">
				<small>Valor:</small>
			</div>
			<div class="col-9">
				<input type="number" th:field="*{valor}" class="form-control"
					placeholder="Valor"  />
			</div>
		</div>
		
	</form>

</body>
</html>