<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgSideBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="container">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<div class="col-lg-7">
										<div class="p-5">
											<div class="text-center">
												<h1 th:text="${title}" class="h4 text-gray-900 mb-4"></h1>
											</div>
											<form class="user" th:action="@{/capital/save}"
												th:object="${capital}" method="post">

												<hr>
												<h6>Accionista</h6>
									            <div class="form.group row clo-sm-6">
								                	<select class="form-control" th:field="*{accionista.idpersona}" >
								                		<option value=0>-- Seleccione --</option>
								                		<option th:each="ac : ${accionistas}" th:value="${ac.idpersona}" th:text="${ac.toString()}">
								                			
								                		</option>
								                	</select>
									            </div>
									            <hr>
												<div class="form-group row clo-sm-6">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{fondo}" placeholder="Fondo">
													</div>
													
												</div>
												
												<hr>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="submit"
															class="btn btn-success btn-user btn-block"
															value="Guardar" />
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<a th:href="@{/fondo/list}"
															class="btn btn-danger btn-user btn-block">Cancelar</a>
													</div>
												</div>
												
												<input type="hidden" th:field="*{idcapital}" />

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>



				</div>
				<!-- /.container-fluid -->

			</div>

			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>


</body>
</html>