<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgTopBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="container">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<div class="col-lg-7">
										<div class="p-5">
											<div class="text-center">
												<h1 th:text="${title}" class="h4 text-gray-900 mb-4"></h1>
											</div>
											<form class="user" th:action="@{/alumno/save}"
												th:object="${alumno}" method="post">
												<hr>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{cedula}" placeholder="C&eacute;dula">
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{identificador}" placeholder="Identificador">
													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{nombre}" placeholder="Nombres">
													</div>
													<div class="form-group col-sm-6">
														<input type="text" class="form-control form-control-user"
															th:field="*{apellido}" placeholder="Apellidos">
													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="email" class="form-control form-control-user"
															th:field="*{email}"
															placeholder="Correo electr&oacute;nico">
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{telefono}" placeholder="Tel&eacute;fono">
													</div>
												</div>
												<h6>Nacimiento:</h6>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="date" class="form-control form-control-user"
															th:field="*{fechaNacimiento}">
													</div>
													<div class="col-sm-6">
														<input type="text" class="form-control form-control-user"
															th:field="*{lugarNacimiento}" placeholder="Lugar">
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<label class="radio-inline"><input type="radio"
															th:field="*{sexo}" value="M" checked />&nbsp;Mujer</label>
													</div>
													<div class="col-sm-6">
														<label class="radio-inline"><input type="radio"
															th:field="*{sexo}" value="H" />&nbsp;Hombre</label>
													</div>
												</div>

												<hr>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="submit"
															class="btn btn-success btn-user btn-block"
															value="Guardar" />
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<a th:href="@{/alumno/list}"
															class="btn btn-danger btn-user btn-block">Cancelar</a>
													</div>
												</div>
												
												<input type="hidden" th:field="*{idpersona}" />

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>



				</div>
				<!-- /.container-fluid -->

			</div>

			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>


</body>
</html>