<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		
		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgSideBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 th:text="${title}" class="h3 mb-0 text-gray-800"></h1>
					</div>					
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Fondo</th>
								<th><a class="btn btn-sm btn-success"
									th:href="@{/capital/create}">&nbsp;Nuevo</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${capitales}">
								<td th:text="${c.fondo}"></td>
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/capital/update/} + ${c.idcapital}">&nbsp;Actualizar</a>
									<a class="btn btn-sm btn-info"
									th:href="@{/capital/retrieve/} + ${c.idcapital}">&nbsp;Consultar</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<!-- /.container-fluid -->

			</div>
			
			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>
	

</body>
</html>