<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		
		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgSideBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 th:text="${title}" class="h3 mb-0 text-gray-800"></h1>
					</div>					
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Descripci&oacute;n</th>
								<th><a class="btn btn-sm btn-success"
									th:href="@{/tipoCuenta/create}">&nbsp;Nuevo</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="t : ${tipoCuentas}">
								<td th:text="${t.nombre}"></td>
								<td th:text="${t.descripcion}"></td>
							
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/tipoCuenta/update/} + ${t.idtipocuenta}">&nbsp;Actualizar</a>
									<a class="btn btn-sm btn-info"
									th:href="@{/tipoCuenta/retrieve/} + ${t.idtipocuenta}">&nbsp;Consultar</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<!-- /.container-fluid -->

			</div>
			
			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>
	

</body>
</html>