<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">
<div id="wrapper">
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
		<nav th:replace="layout :: frgSideBar"></nav>
		<br>
		<br>
	<div class="top-popular-courses-area mt-100 section-padding-100-70">
		<section class="contact-area mt-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-content">
							<div class="row">
								<div class="col-12">
									<div class="section-heading text-center">
										
											<h4 th:text="${title}"></h4>											
										</div>
									<div class="contact-form-area wow fadeInUp"
										data-wow-delay="500ms">
									
														
					<table class="table table-hover">
						<thead>
							<tr>
								<th><i class="fa fa-address-card">&nbsp;</i>N&uacute;mero de cuenta</th>
								<th><i class="fa fa-calendar">&nbsp;</i>Fecha de Retiro</th>
								<th><i class="fa fa-dollar-sign">&nbsp;</i>Monto</th>
								<th><a class="btn btn-sm btn-success"
									th:href="@{/retiro/create}">&nbsp;Nuevo Retiro</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="r : ${retiros}">
								<td th:text="${r.cuenta.toString()}"></td>
								<td th:text="${r.fechaRet()}"></td>
								<td th:text="${r.monto}"></td>
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/retiro/update/} + ${r.idretiro}">&nbsp;Actualizar</a>
									<a class="btn btn-sm btn-info"
									th:href="@{/retiro/retrieve/} + ${r.idretiro}">&nbsp;Consultar</a>
								</td>
							</tr>
						</tbody>
					</table>

						
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
</div>		
<footer th:replace="layout :: frgFooter"></footer>
</div>

</body>
</html>