<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgSideBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="container">
					<br><br><br><br>
						<div class="academy-courses-area section-padding-100-0">
					        <div class="container">
					            <!-- div class="row">
					            	<canvas id="chart-area-1"></canvas>            	
					            </div> -->
					            
					            <div class="row">
					            	<!--  canvas id="chart-area-2" style="display: block; width: 349px; height: 174px;" width="349" height="174" class="chartjs-render-monitor"></canvas>-->
					            	<canvas id="canvas22" style="display: block; width: 654px; height: 327px;" width="654" height="327" class="chartjs-render-monitor"></canvas>
					            </div>
					            
					        </div>
					    </div>
					    
					    <br>
						
						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
										
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>

			<footer th:replace="layout :: frgFooter"></footer>
			<div th:replace="layout :: frgScripts"> </div>
			<script th:src="@{/js/reportes/rpt-retiro.js}"></script>
		</div>

	</div>


</body>
</html>